Logic:
1. Có 1 ggsheet (từ team c Linh update): trạng thái của PO & ETA
2. Từ sheet trên, check xem trạng thái, ETA có thay đổi từng ngày không? (nếu prolong => check + giục)

In [1]:
# Create DataFrame
import re
import numpy as np
import pandas as pd
# Visualize
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn.objects as so
# Connect Portgresat
import psycopg2
# Connect MySQL
import mysql.connector
import pyodbc
# Connect Google Sheet
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from googleapiclient.discovery import build
from google.oauth2.service_account import Credentials
# Time
#from datetime import datetime, timedelta
from datetime import datetime, timedelta
import datetime
import time
import schedule
# System
import os
import sys
import pickle
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine, types, inspect
import sqlalchemy.exc
# Format Mail
from pretty_html_table import build_table
from bs4 import BeautifulSoup
#MAil
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.mime.application import MIMEApplication
import numpy as np
from tabulate import tabulate
import textwrap

## Tạo hàm

In [2]:
# Thay thế các giá trị dưới đây bằng thông tin cơ sở dữ liệu PostgreSQL của bạn
dbname = "mi_report"
user = "da_report"
password = "Inno202$"
host = "172.29.15.98"
port = "5432"

engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

def GG_to_PostgreSQL(data, table): # thay đổi data type để load vào DB nhanh hơn
    dtyp = {}
    dtyp.update({c: types.VARCHAR(data[c].astype(str).str.len().max()) for c in data.columns[data.dtypes == 'object'].tolist()})
    dtyp.update({c: types.FLOAT() for c in data.columns[data.dtypes == 'float32'].tolist()})
    dtyp.update({c: types.FLOAT() for c in data.columns[data.dtypes == 'float64'].tolist()})
    dtyp.update({c: types.INTEGER() for c in data.columns[data.dtypes == 'int32'].tolist()})
    dtyp.update({c: types.INTEGER() for c in data.columns[data.dtypes == 'int64'].tolist()})
    dtyp.update({c: types.TIMESTAMP() for c in data.columns[data.dtypes == 'datetime64[ns]'].tolist()})

    # Write DataFrame to PostgreSQL
    data.to_sql(table.lower(), engine, if_exists='append', index=False, dtype=dtyp, chunksize=1000)

In [3]:
#Tạo hàm
def Alert_ETA():
    
    #### Data BI (Quang Ù)
    conn_post_1 = psycopg2.connect(host="172.29.15.98",database="mi_report", user="da_report",password="Inno202$")

    #### Lấy list Asin, SKU
    list_asin_sku = pd.read_sql_query(f"""
        select asin, sku from public.launching_plan where asin is not null and sku is not null """,conn_post_1)
    #### List_asin
    list_asin = tuple(list_asin_sku['asin'])
    #### List_sku
    list_sku = tuple(list_asin_sku['sku'])
                        
    def convert_to_snake_case(string):
        return string.replace(" ", "_").upper()

    def covert_header(data):
        header_col = list(data.columns.values)
        converted_list = [convert_to_snake_case(item) for item in header_col]
        mapping = dict(zip(header_col, converted_list))
        data_1 = data.rename(columns=mapping)
        return data_1

    # Cấu hình thông tin xác thực và kết nối đến Google Sheets API
    scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
    creds = ServiceAccountCredentials.from_json_keyfile_name(r"C:\Users\antv\Desktop\Google Credentials\test-bot-415102-1878dc99ca19.json", scope)
    client = gspread.authorize(creds)
    service = build('sheets', 'v4', credentials=creds)
    
    # Lấy dữ liệu từ Google Sheet 2 
    spreadsheet_id = '1P-7XJfAcG2PpEhx_G5chnirqOXMTyflLUyRXyBo9rJk'
    #https://docs.google.com/spreadsheets/d/1eNkGxJ4zOFyP_zy0Qj6FCwkNas6f49CCBDo4kTsURgw/edit#gid=0 -- old link by Hiep -- don't know why the Query function does not work for Source Data sheet
    #https://docs.google.com/spreadsheets/d/1P-7XJfAcG2PpEhx_G5chnirqOXMTyflLUyRXyBo9rJk/edit#gid=0 -- copy sheet by Giang
    range_name = 'Source Data!A:V'
    result = service.spreadsheets().values().get(
            spreadsheetId=spreadsheet_id, range=range_name).execute()
    values = result.get('values', [])
    df = pd.DataFrame(result['values'][1:], columns=result['values'][0])
    
    if df.empty: 
        print('Lỗi Import Range')

    else:
        
        df_1 = df.rename(columns=
            {'ETD PORT': 'ETD','ATD PORT': 'ATD', 'ETA WH ARRIVAL': 'ETA WAREHOUSE','ATA WH ARRIVAL': 'ATA WAREHOUSE',})

        # Lấy ngày hiện tại
        current_date = datetime.datetime.now().date()
        # Thêm cột chứa giá trị ngày hiện tại vào DataFrame
        df_1['LOG_DATE'] = current_date 
        # Sửa header
        df_2 = covert_header(df_1)

        # Fillter list SKU
        df_3 = df_2[df_2['SKU'].isin(list_sku)]
        # Convert sang Datetime
        df_3['DEMAND_ETD'] = pd.to_datetime(df_3['DEMAND_ETD'])
        df_3['DEMAND_ETA'] = pd.to_datetime(df_3['DEMAND_ETA'])
        df_3['ETD'] = pd.to_datetime(df_3['ETD'])
        df_3['ATD'] = pd.to_datetime(df_3['ATD'])
        df_3['ETA_PORT'] = pd.to_datetime(df_3['ETA_PORT'])
        df_3['ATA_PORT'] = pd.to_datetime(df_3['ATA_PORT'])
        df_3['ETA_WAREHOUSE'] = pd.to_datetime(df_3['ETA_WAREHOUSE'])
        df_3['ATA_WAREHOUSE'] = pd.to_datetime(df_3['ATA_WAREHOUSE'])
        df_3['ETA_SALABLE'] = pd.to_datetime(df_3['ETA_SALABLE'])
        df_3['ATA_SALABLE'] = pd.to_datetime(df_3['ATA_SALABLE'])
        df_3['LOG_DATE'] = pd.to_datetime(df_3['LOG_DATE'])
        df_3['QTY_DEMAND_OPEN_PO'] = df_3['QTY_DEMAND_OPEN_PO'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)
        df_3['QTY_VENDOR_CONFIRM'] = df_3['QTY_VENDOR_CONFIRM'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)
        df_3['QTY_PU_RELEASE'] = df_3['QTY_PU_RELEASE'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)
        

        df_3.columns = df_3.columns.str.lower()
    
        def Update_data_crawl_daily():  
            GG_to_PostgreSQL(df_3,'alert_eta')
            print("Job executed at", datetime.datetime.now())
            print("Đã Update Data Daily Thành Công")

        Update_data_crawl_daily()
    
        data_ETA_0 = pd.read_sql_query(f"""
            with t_now as (
            select distinct alert_eta.*, (demand_open_order ||'-'|| demand_order ||'-'|| Invoice ||'-'|| sku) as Link_col_now
            from alert_eta
            where log_date = CURRENT_DATE
            ), t_1 as (
            select distinct alert_eta.*, (demand_open_order ||'-'|| demand_order ||'-'|| Invoice ||'-'|| sku) as Link_col_1
            from alert_eta
            where log_date = CURRENT_DATE - 1
            ), t_total as (
            select t_now.demand_open_order, t_now.demand_order, t_now.invoice, t_now.sku, t_now.asin, t_now.product_name,
            t_now.container, t_now.demand_eta,
            t_now.order_status as Status_now, t_now.qty_vendor_confirm as Qty_now, 
            t_now.ETA_PORT as ETA_PORT_NOW, t_now.ETA_WAREHOUSE as ETA_WAREHOUSE_NOW, t_now.ETA_SALABLE as ETA_SALABLE_NOW,
            t_1.order_status as Status_1, t_1.qty_vendor_confirm as Qty_1, 
            t_1.ETA_PORT as ETA_PORT_1, t_1.ETA_WAREHOUSE as ETA_WAREHOUSE_1, t_1.ETA_SALABLE as ETA_SALABLE_1,
            (t_now.ETA_SALABLE::date - t_1.ETA_SALABLE::date) as ETA_SALABLE_DIFF, t_now.ATA_SALABLE,
            (t_now.ETA_SALABLE - t_now.demand_eta) as ETA_SALABLE_VS_demand
            from t_now
            left join t_1 on t_now.Link_col_now = t_1.Link_col_1
            )
            , t_alert as (
            select distinct * from t_total
            where 
            ETA_SALABLE_NOW is not null
            and ETA_SALABLE_1 is not null
            --and ETA_SALABLE_DIFF <> 0
            and ETA_SALABLE_NOW <> ETA_SALABLE_1
            and Qty_now <> 0
            and ATA_SALABLE is null
            )
            select t_alert.*, Sales_PIC, category from t_alert
            left join (select sku, Sales_PIC, category from BI_DATAMART_1.LAUNCHING_PLAN) t_tam
            on t_alert.sku = t_tam.sku
        """,conn_post_1)
        data_ETA_0.columns = data_ETA_0.columns.str.upper()

        data_ETA_0.columns = data_ETA_0.columns.str.upper()
        data_ETA_1 = data_ETA_0[["DEMAND_OPEN_ORDER","DEMAND_ORDER","INVOICE","SKU","SALES_PIC",
                             "CATEGORY","PRODUCT_NAME","CONTAINER","DEMAND_ETA",
                             "STATUS_1", "QTY_1", "ETA_PORT_1"  , "ETA_WAREHOUSE_1" , "ETA_SALABLE_1" ,
                             "STATUS_NOW", "QTY_NOW", "ETA_PORT_NOW","ETA_WAREHOUSE_NOW","ETA_SALABLE_NOW",
                             "ETA_SALABLE_DIFF","ETA_SALABLE_VS_DEMAND"]]

        data_ETA_2 = data_ETA_1.rename(columns= {'DEMAND_OPEN_ORDER': 'Demand Open Order', 'DEMAND_ORDER': 'Demand Order',
                                             'INVOICE': 'Invoice','SALES_PIC': 'Sales PIC',
                                             'CATEGORY': 'Category','PRODUCT_NAME': 'Product Name',
                                             'CONTAINER': 'Container', 'DEMAND_ETA': 'Demand ETA',
                                             'STATUS_1': 'Order Status','QTY_1': 'QTY',
                                             'ETA_PORT_1':'ETA Port','ETA_WAREHOUSE_1': 'ETA WH','ETA_SALABLE_1': 'ETA Salable',
                                             'STATUS_NOW': 'Order Status ','QTY_NOW': 'QTY ',
                                             'ETA_PORT_NOW': 'ETA Port ','ETA_WAREHOUSE_NOW': 'ETA WH ',
                                             'ETA_SALABLE_NOW': 'ETA Salable ',
                                             'ETA_SALABLE_DIFF': 'ETA Salable Change (Days)',
                                             'ETA_SALABLE_VS_DEMAND': 'ETA Salable Vs ETA Demand',
                                            })
        data_ETA_2 = data_ETA_2.sort_values(['Category','ETA Salable Change (Days)','Container'],ascending=[True,False,True])

        # Tạo thêm header
        header_col_t1 = list(data_ETA_2.columns.values)

        col = ['','','','','','','','','','OLD','OLD','OLD','OLD','OLD','NEW','NEW','NEW','NEW','NEW','','']

        mapping = zip(col, header_col_t1)

        col_list = pd.MultiIndex.from_tuples(mapping)
        data_ETA_2.columns = col_list

        ##### table1 = data_detail_sell_in_2.to_html(index=False)
        table1 = build_table(data_ETA_2,'blue_dark', font_size='11px', font_family='Arial, sans-serif',
                             text_align='center', padding ='4px 4px 4px 4px')

        replacements_1 = {
        '<th colspan="5" halign="left">OLD</th>':'<th colspan="5" style="background-color:#b7b7b7;font-family:Arial,sans-serif;font-size:11px;color:#ffffff;text-align:center;padding:4px 4px 4px 4px;width:auto" halign="left">OLD</th>',
        '<th colspan="5" halign="left">NEW</th>':'<th colspan="5" style="background-color:#4a86e8;font-family:Arial,sans-serif;font-size:11px;color:#ffffff;text-align:center;padding:4px 4px 4px 4px;width:auto" halign="left">NEW</th>',
        '<th style = "background-color: #305496;font-family: Arial, sans-serif;font-size: 11px;color: #FFFFFF;text-align: center;border-bottom: 2px solid #305496;padding: 4px 4px 4px 4px;width: auto"></th>':'<th style = "background-color: white;"></th>',
        }

        for old_value, new_value in replacements_1.items():
            table1 = table1.replace(old_value, new_value)

        table1_1 = BeautifulSoup(table1, 'html.parser')

        # In ra bảng HTML đã được thay đổi
        table1_2 = str(table1_1)

        ######### Thiết lập thông tin tài khoản email
        # email = 'giangdt@yes4all.com'
        # password = 'fhvs lwgf pecd ljau'

        email = 'antv@yes4all.com'
        password = 'fhvs lwgf pecd ljau'
        ######### Thiết lập đối tượng email
        msg = MIMEMultipart()

        # recipients = ['khoink@yes4all.com','thiennh@yes4all.com']
        # cc_recipients = ['khoink@yes4all.com','thiennh@yes4all.com']

        recipients = ['antv@yes4all.com']
        cc_recipients = ['antv@yes4all.com']

        msg['To'] = ", ".join(recipients)
        msg['CC'] = ", ".join(cc_recipients)

        msg['From'] = email

        #### Lấy ngày data
        now = datetime.datetime.now()
        Subject_time = now.strftime("%d %b").upper()

        msg['Subject'] = f'ALERT ETA DAILY- {Subject_time}'

        ######### Tạo nội dung HTML

        if data_ETA_0.empty: 
            html = f"""
            <html>
                <body>
                    <p>Dear team,</p>
                    <p> </p>
                    <p>Em xin gửi mail Alert ETA hôm nay:</p>
                    <h3><font color="Blue"><b>A. ALERT ETA </b></font></h3> 
                    <p>Không có thay đổi ETA</p>

                    <p>Cảm ơn Team.</p>

                    <p>Best Regards,<br>
                    Đỗ Thu Giang<br>
                    DA & P.MKT AM<br>
                    Phone number: 0914 051 097<br>
                    Email:        giangdt@yes4all.com </p>             
                </body>
            </html>
            """
        else:
            html = f"""
            <html>
                <body>
                    <p>Dear team,</p>
                    <p> </p>
                    <p>Em xin gửi mail Alert ETA hôm nay</p>
                    <h3><font color="Blue"><b>A. ALERT ETA </b></font></h3> 
                        {table1_2} 

                    <p>Cảm ơn Team.</p>

                    <p>Best Regards,<br>
                    Đỗ Thu Giang<br>
                    DA & P.MKT AM<br>
                    Phone number: 0914 051 097<br>
                    Email:        giangdt@yes4all.com </p>             
                </body>
            </html>
            """
        ######### Chuyển đổi nội dung HTML thành MIMEText
        text = MIMEText(html, 'html')
        msg.attach(text)
        ######### Thiết lập kết nối SMTP và gửi email
        server = smtplib.SMTP('smtp.gmail.com', 587)
        server.starttls()
        server.login(email, password)
        server.sendmail(email, recipients, msg.as_string())
        server.quit()

        print("Job executed at", datetime.datetime.now())
        print('Đã gửi mail daily')

In [24]:
Alert_ETA()

Job executed at 2024-02-21 09:27:15.403630
Đã Update Data Daily Thành Công
Job executed at 2024-02-21 09:27:19.497191
Đã gửi mail daily

In [4]:
schedule.every().day.at("09:00").do(Alert_ETA)

while True:
    schedule.run_pending()
    time.sleep(10)

Job executed at 2024-02-22 09:00:16.855145
Đã Update Data Daily Thành Công
Job executed at 2024-02-22 09:00:20.032465
Đã gửi mail daily

# Test only

## Crawl Data Daily

In [ ]:
# Lấy data Oracle
db = cx_Oracle.connect('MI_REPORT', 'S92ns;fdb8121d', cx_Oracle.makedsn('int-db.yes4all.internal',1521,'deora'))

# Lấy list Asin, SKU
list_asin_sku = pd.read_sql_query(f"""
    select asin, sku from BI_DATAMART_1.launching_plan
    where asin is not null and sku is not null
    """,db)

# List_asin
list_asin = tuple(list_asin_sku['ASIN'])
# List_sku
list_sku = tuple(list_asin_sku['SKU'])

In [ ]:
def convert_to_snake_case(string):
    return string.replace(" ", "_").upper()

def covert_header(data):
    header_col = list(data.columns.values)
    converted_list = [convert_to_snake_case(item) for item in header_col]
    mapping = dict(zip(header_col, converted_list))
    data_1 = data.rename(columns=mapping)
    return data_1

# Cấu hình thông tin xác thực và kết nối đến Google Sheets API
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name("C:/Users/hieptn/Desktop/Test Py/my-project-123-378311-71b37cb67041.json", scope)
client = gspread.authorize(creds)
service = build('sheets', 'v4', credentials=creds)

In [ ]:
# Lấy dữ liệu từ Google Sheet 2 
spreadsheet_id = '1eNkGxJ4zOFyP_zy0Qj6FCwkNas6f49CCBDo4kTsURgw'
range_name = 'Source Data!A:V'
result = service.spreadsheets().values().get(
        spreadsheetId=spreadsheet_id, range=range_name).execute()
values = result.get('values', [])
df = pd.DataFrame(result['values'][1:], columns=result['values'][0])

In [ ]:
df

In [ ]:
df_1 = df.rename(columns=
    {'ETD PORT': 'ETD','ATD PORT': 'ATD', 'ETA WH ARRIVAL': 'ETA WAREHOUSE','ATA WH ARRIVAL': 'ATA WAREHOUSE',})

In [ ]:
# Lấy ngày hiện tại
current_date = datetime.datetime.now().date()
# Thêm cột chứa giá trị ngày hiện tại vào DataFrame
df_1['LOG_DATE'] = current_date 
# Sửa header
df_2 = covert_header(df_1)

In [ ]:
df_2

In [ ]:
# Fillter list SKU
df_3 = df_2[df_2['SKU'].isin(list_sku)]
# Convert sang Datetime
df_3['DEMAND_ETD'] = pd.to_datetime(df_3['DEMAND_ETD'])
df_3['DEMAND_ETA'] = pd.to_datetime(df_3['DEMAND_ETA'])
df_3['ETD'] = pd.to_datetime(df_3['ETD'])
df_3['ATD'] = pd.to_datetime(df_3['ATD'])
df_3['ETA_PORT'] = pd.to_datetime(df_3['ETA_PORT'])
df_3['ATA_PORT'] = pd.to_datetime(df_3['ATA_PORT'])
df_3['ETA_WAREHOUSE'] = pd.to_datetime(df_3['ETA_WAREHOUSE'])
df_3['ATA_WAREHOUSE'] = pd.to_datetime(df_3['ATA_WAREHOUSE'])
df_3['ETA_SALABLE'] = pd.to_datetime(df_3['ETA_SALABLE'])
df_3['ATA_SALABLE'] = pd.to_datetime(df_3['ATA_SALABLE'])
df_3['LOG_DATE'] = pd.to_datetime(df_3['LOG_DATE'])
df_3['QTY_DEMAND_OPEN_PO'] = df_3['QTY_DEMAND_OPEN_PO'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)
df_3['QTY_VENDOR_CONFIRM'] = df_3['QTY_VENDOR_CONFIRM'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)
df_3['QTY_PU_RELEASE'] = df_3['QTY_PU_RELEASE'].replace(',','',regex=True).replace('--','0', regex=True).astype(int)

In [ ]:
df_3

In [ ]:
# Kết nối tới Oracle (ACC MI_REPORT)
engine_1 = create_engine('oracle+cx_oracle://MI_REPORT:S92ns;fdb8121d@int-db.yes4all.internal/deora')
def GG_to_Oracle_1(df_info,table):
    df_info.to_sql(table.lower(), engine_1, if_exists='append', index=False)

In [ ]:
def Update_data_crawl_daily():  
    GG_to_Oracle_1(df_3,'ALERT_ETA')
    print("Job executed at", datetime.datetime.now())
    print("Đã Update Data Daily Thành Công")

In [ ]:
Update_data_crawl_daily()

## Alert

In [ ]:
data_ETA_0 = pd.read_sql_query(f"""
    with t_now as (
    select distinct MI_REPORT.ALERT_ETA.*, (demand_open_order ||'-'|| demand_order ||'-'|| Invoice ||'-'|| sku) as Link_col_now
    from MI_REPORT.ALERT_ETA
    where log_date = trunc(SYSDATE,'DD')
    ), t_1 as (
    select distinct MI_REPORT.ALERT_ETA.*, (demand_open_order ||'-'|| demand_order ||'-'|| Invoice ||'-'|| sku) as Link_col_1
    from MI_REPORT.ALERT_ETA
    where log_date = trunc(SYSDATE - 1,'DD')
    ), t_total as (
    select t_now.demand_open_order, t_now.demand_order, t_now.invoice, t_now.sku, t_now.asin, t_now.product_name,
    t_now.container, t_now.demand_eta,
    t_now.order_status as Status_now, t_now.qty_vendor_confirm as Qty_now, 
    t_now.ETA_PORT as ETA_PORT_NOW, t_now.ETA_WAREHOUSE as ETA_WAREHOUSE_NOW, t_now.ETA_SALABLE as ETA_SALABLE_NOW,
    t_1.order_status as Status_1, t_1.qty_vendor_confirm as Qty_1, 
    t_1.ETA_PORT as ETA_PORT_1, t_1.ETA_WAREHOUSE as ETA_WAREHOUSE_1, t_1.ETA_SALABLE as ETA_SALABLE_1,
    (t_now.ETA_SALABLE - t_1.ETA_SALABLE) as ETA_SALABLE_DIFF, t_now.ATA_SALABLE,
    (t_now.ETA_SALABLE - t_now.demand_eta) as ETA_SALABLE_VS_demand
    from t_now
    left join t_1 on t_now.Link_col_now = t_1.Link_col_1
    ), t_alert as (
    select distinct * from t_total
    where ETA_SALABLE_DIFF <> 0 
    and Qty_now <> 0
    and ATA_SALABLE is null
    )
    select t_alert.*, Sales_PIC, category from t_alert
    left join (select sku, Sales_PIC, category from BI_DATAMART_1.LAUNCHING_PLAN) t_tam
    on t_alert.sku = t_tam.sku
""",db)

In [ ]:
data_ETA_0

In [ ]:
data_ETA_1 = data_ETA_0[["DEMAND_OPEN_ORDER","DEMAND_ORDER","INVOICE","SKU","SALES_PIC",
                         "CATEGORY","PRODUCT_NAME","CONTAINER","DEMAND_ETA",
                         "STATUS_1", "QTY_1", "ETA_PORT_1"  , "ETA_WAREHOUSE_1" , "ETA_SALABLE_1" ,
                         "STATUS_NOW", "QTY_NOW", "ETA_PORT_NOW","ETA_WAREHOUSE_NOW","ETA_SALABLE_NOW",
                         "ETA_SALABLE_DIFF","ETA_SALABLE_VS_DEMAND"]]

In [ ]:
data_ETA_2 = data_ETA_1.rename(columns= {'DEMAND_OPEN_ORDER': 'Demand Open Order', 'DEMAND_ORDER': 'Demand Order',
                                         'INVOICE': 'Invoice','SALES_PIC': 'Sales PIC',
                                         'CATEGORY': 'Category','PRODUCT_NAME': 'Product Name',
                                         'CONTAINER': 'Container', 'DEMAND_ETA': 'Demand ETA',
                                         'STATUS_1': 'Order Status','QTY_1': 'QTY',
                                         'ETA_PORT_1':'ETA Port','ETA_WAREHOUSE_1': 'ETA WH','ETA_SALABLE_1': 'ETA Salable',
                                         'STATUS_NOW': 'Order Status ','QTY_NOW': 'QTY ',
                                         'ETA_PORT_NOW': 'ETA Port ','ETA_WAREHOUSE_NOW': 'ETA WH ',
                                         'ETA_SALABLE_NOW': 'ETA Salable ',
                                         'ETA_SALABLE_DIFF': 'ETA Salable Change (Days)',
                                         'ETA_SALABLE_VS_DEMAND': 'ETA Salable Vs ETA Demand',
                                        })
data_ETA_2 = data_ETA_2.sort_values(['Category','ETA Salable Change (Days)','Container'],ascending=[True,False,True])

In [ ]:
data_ETA_2

In [ ]:
# Tạo thêm header
header_col_t1 = list(data_ETA_2.columns.values)

col = ['','','','','','','','','','OLD','OLD','OLD','OLD','OLD','NEW','NEW','NEW','NEW','NEW','','']

mapping = zip(col, header_col_t1)

col_list = pd.MultiIndex.from_tuples(mapping)
data_ETA_2.columns = col_list

In [ ]:
##### table1 = data_detail_sell_in_2.to_html(index=False)
table1 = build_table(data_ETA_2,'blue_dark', font_size='11px', font_family='Arial, sans-serif',
                     text_align='center', padding ='4px 4px 4px 4px')

In [ ]:
replacements_1 = {
    '<th colspan="5" halign="left">OLD</th>':'<th colspan="5" style="background-color:#b7b7b7;font-family:Arial,sans-serif;font-size:11px;color:#ffffff;text-align:center;padding:4px 4px 4px 4px;width:auto" halign="left">OLD</th>',
    '<th colspan="5" halign="left">NEW</th>':'<th colspan="5" style="background-color:#4a86e8;font-family:Arial,sans-serif;font-size:11px;color:#ffffff;text-align:center;padding:4px 4px 4px 4px;width:auto" halign="left">NEW</th>',
    '<th style = "background-color: #305496;font-family: Arial, sans-serif;font-size: 11px;color: #FFFFFF;text-align: center;border-bottom: 2px solid #305496;padding: 4px 4px 4px 4px;width: auto"></th>':'<th style = "background-color: white;"></th>',
}


for old_value, new_value in replacements_1.items():
    table1 = table1.replace(old_value, new_value)
    
table1_1 = BeautifulSoup(table1, 'html.parser')

# In ra bảng HTML đã được thay đổi
table1_2 = str(table1_1)

In [ ]:
######### Thiết lập thông tin tài khoản email
email = 'hieptn@yes4all.com'
password = 'gpzkkcrzwbdncoqw'
######### Thiết lập đối tượng email
msg = MIMEMultipart()

recipients = ['nguyenph@yes4all.com','vylm@yes4all.com','vyntp@yes4all.com','vinhnh@yes4all.com']
cc_recipients = ['nguyenph@yes4all.com','vylm@yes4all.com','vyntp@yes4all.com','vinhnh@yes4all.com']

msg['To'] = ", ".join(recipients)
msg['CC'] = ", ".join(cc_recipients)

# recipients = 'hieppropm224@gmail.com'
# msg['To'] = 'hieppropm224@gmail.com'

# recipients = 'vyntp@yes4all.com'
# msg['To'] = 'vyntp@yes4all.com'

# recipients = 'dl.da_planning@yes4all.com'
# msg['To'] = 'dl.da_planning@yes4all.com'

msg['From'] = email

#### Lấy ngày data
now = datetime.datetime.now()
Subject_time = now.strftime("%d %b").upper()

msg['Subject'] = f'TEST MAIL ALERT ETA - {Subject_time}'

######### Tạo nội dung HTML

if data_ETA_0.empty: 
    html = f"""
    <html>
        <body>
            <p>Dear team,</p>
            <p> </p>
            <p>Em xin gửi mail test Alert ETA hôm nay: Cả nhà xem và cho em feedback với ạ</p>
            <h3><font color="Blue"><b>A. ALERT ETA </b></font></h3> 
            <p>Không có thay đổi ETA</p>

            <p>Cảm ơn Team.</p>

            <p>Best Regards,<br>
            Trần Ngọc Hiệp<br>
            Data Analyst<br>
            Phone number: 032 9704 588<br>
            Email:        hieptn@yes4all.com </p>             
        </body>
    </html>
    """
else:
    html = f"""
    <html>
        <body>
            <p>Dear team,</p>
            <p> </p>
            <p>Em xin gửi mail test Alert ETA hôm nay: Cả nhà xem và cho em feedback với ạ</p>
            <h3><font color="Blue"><b>A. ALERT ETA </b></font></h3> 
                {table1_2} 

            <p>Cảm ơn Team.</p>

            <p>Best Regards,<br>
            Trần Ngọc Hiệp<br>
            Data Analyst<br>
            Phone number: 032 9704 588<br>
            Email:        hieptn@yes4all.com </p>             
        </body>
    </html>
    """
######### Chuyển đổi nội dung HTML thành MIMEText
text = MIMEText(html, 'html')
msg.attach(text)
######### Thiết lập kết nối SMTP và gửi email
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(email, password)
server.sendmail(email, recipients, msg.as_string())
server.quit()

print("Job executed at", datetime.datetime.now())
print('Đã gửi mail daily')